<!DOCTYPE html>
<html lang="de" manifest="manifest.php">
<!-- <html lang="de"> -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/lib/haushaltsbuch-theme.min.css" />
    <link rel="stylesheet" href="./css/lib/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="./css/lib/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="./css/hhb.css" />
    <!-- Standard-Bibliotheken -->
    <script src="./js/jquery-2.1.3.min.js"></script>
    <script src="./js/jquery.mobile-1.4.5.min.js"></script>
    <script src="./js/knockout-3.3.0.js"></script>
    <!-- App-spezifische Code-Dateien -->
    <script src="./js/knockout-ext.js"></script>
    <script src="./js/rpc.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/diagram.js"></script>
    <script src="./js/app.php"></script>
    <script src="./js/update_app.js"></script>
</head>
<body>
  <!-- Menüs -->
  <include href="Accounting/forms/navigation/navigation.php" />
  <include href="Accounting/forms/navigation/navigation.php" />
  <include href="Accounting/forms/navigation/buchen_menue.php" />
  <!-- Masken aus dem Menü "Buchungen" -->
  <include href="Accounting/forms/buchen/buchen.php" />
  <include href="Accounting/forms/buchen/aktuellste_buchungen.php" />
  <include href="Accounting/forms/buchen/buchen_warteschlange.php" />
  <include href="Accounting/forms/buchen/offene_posten.php" />
  <include href="Accounting/forms/buchen/offene_posten_ausbuchen.php" />
  <!-- Masken aus dem Menü "Konten" -->
  <include href="Accounting/forms/konten/konten_liste.php" />
  <include href="Accounting/forms/konten/konten_menue.php" />
  <include href="Accounting/forms/konten/konten_form.php" />
  <include href="Accounting/forms/konten/konten_buchungen.php" />
  <include href="Accounting/forms/konten/konten_monatssalden.php" />
  <!-- Masken aus dem Menü "Administration" -->
  <include href="Accounting/forms/schnellbuchungen/schnellbuchungen_liste.php" />
  <include href="Accounting/forms/schnellbuchungen/schnellbuchung_form.php" />
  <include href="Accounting/forms/configuration/configuration_liste.php" />
  <include href="Accounting/forms/configuration/configuration_form.php" />
  <!-- Ergebnisrechnungen aus dem Menü "Auswertungen" -->
  <include href="Accounting/forms/ergebnis/ergebnis_view.php" />
  <include href="Accounting/forms/ergebnis/ergebnis_menue.php" />
  <include href="Accounting/forms/ergebnis/prognose_view.php" />
  <include href="Accounting/forms/verlauf/verlauf_view_einfach.php" />
  <include href="Accounting/forms/verlauf/verlauf_view_mehrfach.php" />
  <include href="Accounting/forms/verlauf/verlauf_kontenliste.php" />
  <include href="Accounting/forms/verlauf/verlauf_kontenauswahl.php" />
  <!-- Update-Handling -->
  <script type="text/javascript">
      de.ww.updater.handlers.onUpdateReady(function() { alert('Die Buchhaltung wurde auf eine neue Version aktualisiert'); });
  </script>
</body>
</html>
