<!DOCTYPE html>
<html lang="de" manifest="manifest.php">
<!-- <html lang="de"> -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/lib/haushaltsbuch-theme.min.css" />
    <link rel="stylesheet" href="./css/lib/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="./css/lib/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="./css/hhb.css" />

    <!-- Standard-Bibliotheken -->
    <script src="./js/vendor.min.js"></script>
    <!-- App-spezifische Code-Dateien -->
    <script src="./js/app.min.js"></script>
</head>
<body>
  <!-- Menüs -->
  <include href="Accounting/forms/navigation/navigation.htm" />
  <include href="Accounting/forms/navigation/navigation.htm" />
  <include href="Accounting/forms/navigation/buchen_menue.htm" />
  <!-- Masken aus dem Menü "Buchungen" -->
  <include href="Accounting/forms/buchen/buchen.htm" />
  <include href="Accounting/forms/buchen/aktuellste_buchungen.htm" />
  <include href="Accounting/forms/buchen/buchen_warteschlange.htm" />
  <include href="Accounting/forms/buchen/offene_posten.htm" />
  <include href="Accounting/forms/buchen/offene_posten_ausbuchen.htm" />
  <!-- Masken aus dem Menü "Konten" -->
  <include href="Accounting/forms/konten/konten_liste.htm" />
  <include href="Accounting/forms/konten/konten_menue.htm" />
  <include href="Accounting/forms/konten/konten_form.htm" />
  <include href="Accounting/forms/konten/konten_buchungen.htm" />
  <include href="Accounting/forms/konten/konten_monatssalden.htm" />
  <!-- Masken aus dem Menü "Administration" -->
  <include href="Accounting/forms/schnellbuchungen/schnellbuchungen_liste.htm" />
  <include href="Accounting/forms/schnellbuchungen/schnellbuchung_form.htm" />
  <include href="Accounting/forms/configuration/configuration_liste.htm" />
  <include href="Accounting/forms/configuration/configuration_form.htm" />
  <!-- Ergebnisrechnungen aus dem Menü "Auswertungen" -->
  <include href="Accounting/forms/ergebnis/ergebnis_view.htm" />
  <include href="Accounting/forms/ergebnis/ergebnis_menue.htm" />
  <include href="Accounting/forms/ergebnis/prognose_view.htm" />
  <include href="Accounting/forms/verlauf/verlauf_view_einfach.htm" />
  <include href="Accounting/forms/verlauf/verlauf_view_mehrfach.htm" />
  <include href="Accounting/forms/verlauf/verlauf_kontenliste.htm" />
  <include href="Accounting/forms/verlauf/verlauf_kontenauswahl.htm" />
  <!-- Update-Handling -->
  <script type="text/javascript">
      de.ww.updater.handlers.onUpdateReady(function() { util.showErrorMessage('Die Buchhaltung wurde auf eine neue Version aktualisiert'); });
  </script>
</body>
</html>
